:root {
    --bg: #fffd24;
    --bg-transparent: #fffd24cc;
    --text: #000;
    --border: #919036;
    --border-highlight: #595821;
    --primary: #ff2564;
    --link: #2427fff7;
    --link-active: #ee6e12f7;
}
* {
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5rem;
    
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

hero-icon {
    position: relative;
    width: 100%;
    min-height: 1px;
    flex-grow: 1;
    background-image: url(./icon.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

about-text {
    max-width: 700px;
    display: none;
    padding: 2rem;
    overflow: auto;
    background: var(--bg-transparent);
    flex-grow: 1;
}
about-text.open {
    display: block;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
}
p {
    margin: 1.5rem 0;
}

custom-eq {
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    overflow-y: auto;

    background: var(--bg-transparent);
    padding: 1rem 3rem;
}
custom-eq.open {
    display: flex;
}
eq-band {
    display: flex;
    align-items: center;
    font-size: 0.89rem;
}
eq-band:first-of-type, eq-band:last-of-type {
    display: none;
}
eq-band > input {
    max-width: 6rem;
    min-width: 3rem;
    padding: 0.25rem 0;
    margin-inline-end: 0.5rem;
    height: 1rem;
}

audio-controls {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
}
audio-controls > button:nth-child(1) {
    background-color: #000;
}
audio-controls > button:nth-child(2) {
    color: #8e8e8e;
    background-color: #f5f5f5;
}
audio-controls > button:nth-child(3) {
    background-color: #78909c;
}
audio-controls > button:nth-child(4) {
    background-color: #c62828;
}
audio-controls > button:nth-child(5) {
    background-color: #f48fb1;
}
audio-controls > button:nth-child(6) {
    background-color: #2e7d32;
}
audio-controls > button:nth-child(7) {
    background-color: #0277bd;
}
audio-controls > button:nth-child(8) {
    background-color: #6a1b9a;
}
audio-controls > button:nth-child(9) {
    background-color: #000;
}
button {
    appearance: none;
    cursor: pointer;
    padding: 0;
    margin: 0.25rem;
    font: inherit;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 #000a;
    width: 2rem;
    height: 2rem;
    min-width: 8vmin;
    min-height: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.25rem var(--border) solid;
    box-shadow: inset var(--bg) 0 0 0px 1px;
    transition: border-color 0.2s;
}
button:hover {
    border-color: var(--border-highlight);
}
button.active {
    border-color: var(--primary);
}
button > svg {
    width: 60%;
    height: 60%;
}

footer {
    width: 100%;
    height: 2rem;
    text-align: center;
    flex-shrink: 0;
}

a:link, a:visited {
    color: var(--link);
}
a:active {
    color: var(--link-active);
}

install-button {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--border);
    transition: color 0.2s;
}
install-button:hover {
    color: var(--border-highlight);
}
install-button > svg {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 650px) {
    button {
        font-size: 0.8rem;
    }
    about-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --bg-transparent: #111c;
        --text: #f5f5f5;
        --border: #555;
        --border-highlight: #888;
        --link: #8082fff7;
        --link-active: #f7b688f7;
    }
    html {
        font-weight: 400;
    }
    hero-icon {
        opacity: 0.8;
    }
}